.deps
*.o
config.h*
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
configure
INSTALL
depcomp
install-sh
missing
src/stamp-h1
src/whowatch
src/proc_plugin.c
src/procinfo.c
src/procinfo.h

