[Desktop Entry]
Type=Application
Name=whowatch
Comment=console, interactive, process and users monitoring tool
Exec=whowatch
Terminal=true
Categories=System;Monitor;
Keywords=monitor;process;users;
